/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
}
.logo-inicial {
    display: inline;
    position: relative;
    width: 400px;
    height: auto;
}

.menu{
    position: relative; 
    display: flex;
    
        
}
.menu span {
    position: relative;
    padding-left: 10px;    
    padding-right: 10px;  
    font-size: 25px;
    padding-top: 100px;
    
}


.initial-image{
    background-image: url("../images/landing.jpg");
    height: 600px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
      
    position: relative;
    text-align:center;    
    color: white;
    display: flex;
    align-items: center;       
}

.initial-image section {    
    width: 100%;       
}
h1 {
    font-size: 60px;
}
.initial-image section p {
    font-size: 25px;
}

.central-box{
    text-align: center;   
}

.central-box h2{
    font-size: 45px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: #1bb46c;
}

.central-box-child{   
    margin-top: 100px;
    position: relative;
    display:flex;
    justify-content: space-between;
}

.boxes-content {
    
    /*border: solid;
    border-color: black;*/
    width: 500px;
    position: relative;
}

.boxes-content img {
    height: 200px;
    width: auto;
}
.title-green {
    color: #1bb46c;
    font-size: 40px;
    font-weight: bold;
}

.text-content-box{
    color: black;
    font-size: 30px;
    
}

.end-box{
    margin-top: 50px;
    background-color:#1ab26b;
    display:flex;
    position:relative;
    justify-content: space-around;
}
.information-box{
height: 600px;
}

.artist-box{
    height: 600px;
}
.artist-box img {
    margin-top: 10%;
    position: relative;
    height: 90%;
}

.end-box>img {
    height: 150px;
    width: auto;
    position: absolute;
    top: 50%;          
    left: 50%;         
    transform: translate(-50%, -50%);    
}

.information-box{
    color: white;    
    width: 40%;
}
.information-boxes{
    width: 60%;
}

.title-information-box{
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 6px;
}
.subtitle-information-box{
    font-size: 30px;
    font-weight: bold;
}

.text-information-box{
    font-size: 20px;
}